trigger:
- master

pool:
  vmImage: ubuntu-latest

strategy:
  matrix:
    Python39:
      python.version: '3.9'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Use Python $(python.version)'

- script: |
    sudo apt-get update
    sudo apt-get install -y openvpn
    sudo openvpn --config test/azurevpnconfig_prod1.xml &
    sleep 10  # Wait for the VPN connection to establish
  displayName: 'Install and Activate Azure VPN'

- script: |
    sudo apt-get update
    sudo apt-get install -y unixodbc-dev
    sudo curl https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add -
    sudo curl https://packages.microsoft.com/config/ubuntu/$(lsb_release -rs)/prod.list | sudo tee /etc/apt/sources.list.d/msprod.list
    sudo apt-get update
    sudo ACCEPT_EULA=Y sudo apt-get install -y mssql-tools unixodbc-dev
    sudo ln -sfn /opt/mssql-tools/bin/* /usr/local/bin/
    echo "/opt/mssql-tools/lib/" | sudo tee /etc/ld.so.conf.d/mssql-tools.conf
    sudo ldconfig
  displayName: 'Install ODBC Driver 18 for SQL Server'


- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: 'Install dependencies'

- script: |
    pip install pytest pytest-azurepipelines
    pytest test/flag_call_main.py
  displayName: 'Run tests with pytest'
