trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.x'
    addToPath: true

- script: |
    pip install pytest
    pip install allure-pytest
    pip install requests
    # Download and install Allure CLI
    sudo apt-get update
    sudo apt-get install wget unzip -y
    wget https://repo.maven.apache.org/maven2/io/qameta/allure/allure-commandline/2.15.0/allure-commandline-2.15.0.zip -O allure.zip
    unzip allure.zip -d /opt
    export PATH=$PATH:/opt/allure-2.15.0/bin
  displayName: 'Install dependencies and Allure CLI'


- script: |
    pytest test/ccportal_api_automation.py --alluredir=./allure-results
    allure generate --single-file ./allure-results -o ./allure-report.html
  displayName: 'Run pytest and generate Allure report'

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      # SMTP configuration for Gmail
      $smtpServer = "smtp.gmail.com"
      $smtpPort = 587
      $from = "susmit.s.surwade@gmail.com"
      #$to = @("susmit.surwade@blenheimchalcot.com", "ruksar.khan@blenheimchalcot.com", "ami.jambusaria@blenheimchalcot.com")
      $to = @("susmit.surwade@blenheimchalcot.com")
      # Get today's date
      $todayDate = Get-Date -Format "dd-MM-yyyy"

      # Set the email subject
      $subject = "Daily Production API Automation report for $todayDate"

      # SMTP credentials
      $username = "susmit.s.surwade@gmail.com"
      $password = "qzod ltfm nmav tqvw"

      # Email body
      $emailBody = "Please find the attached Allure report for the pytest API execution."

      # Path to the Allure report
      $attachmentPath = "$(System.DefaultWorkingDirectory)/allure-report.html"

      # Send email with attached Allure report using TLS/SSL
      $securePassword = ConvertTo-SecureString $password -AsPlainText -Force
      $credential = New-Object System.Management.Automation.PSCredential ($username, $securePassword)
      Send-MailMessage -SmtpServer $smtpServer -Port $smtpPort -From $from -To $to -Subject $subject -Body $emailBody -Attachments $attachmentPath -Credential $credential -UseSsl
  displayName: 'Send Email with attached Allure report'
