name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          pip install pytest
          pip install allure-pytest
          pip install requests
          sudo apt-get update
          sudo apt-get install wget unzip -y
          wget https://repo.maven.apache.org/maven2/io/qameta/allure/allure-commandline/2.15.0/allure-commandline-2.15.0.zip -O allure.zip
          unzip allure.zip -d /opt

      - name: Run tests and generate Allure report
        run: |
          pytest test/ccportal_api_automation.py --alluredir=./allure-results
          /opt/allure-2.15.0/bin/allure generate ./allure-results -o ./allure-report

      - name: Publish Allure report
        uses: actions/upload-artifact@v2
        with:
          name: allure-report
          path: ./allure-report
      - name: Set directory permissions
        run: chmod -R 755 /home/runner/work/commsCoach_API_Automation/commsCoach_API_Automation/allure-report/index.html

      - name: Send Email with attached Allure report
        run: |
          # SMTP configuration for Gmail
          $smtpServer = "smtp.gmail.com"
          $smtpPort = 587
          $from = "susmit.s.surwade@gmail.com"
          $to = @("susmit.s.surwade@blenheimchalcot.com")
          
          # Get today's date
          $todayDate = Get-Date -Format "dd-MM-yyyy"
          
          # Set the email subject
          $subject = "Daily Production API Automation report for $todayDate"
          
          # SMTP credentials
          $username = "susmit.s.surwade@gmail.com"
          $password = "qzod ltfm nmav tqvw"  # Specify your Gmail password here
          
          # Email body
          $emailBody = "Please find the attached Allure report for the pytest API execution."
          
          # Path to the Allure report
          $attachmentPath = "./allure-report/index.html"
          
          # Send email with attached Allure report using TLS/SSL
          $securePassword = ConvertTo-SecureString $password -AsPlainText -Force
          $credential = New-Object System.Management.Automation.PSCredential ($username, $securePassword)
          Send-MailMessage -SmtpServer $smtpServer -Port $smtpPort -From $from -To $to -Subject $subject -Body $emailBody -Attachments $attachmentPath -Credential $credential -UseSsl
        shell: pwsh
